@import 'primeflex/primeflex.scss';
@import './reset.scss';
@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

#app{
    font-family: 'Dosis';
    font-weight: normal;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--app-background);
}



